
/* @group outgoing */

/*.outgoing .history {
	color: #adda53;
}*/

.outgoing .compact .cnbody {
	border-top: 1px dotted #adda53;
}

.outgoing .message .bottomleft {
	background-image: url("../../images/glass-lime/bottomleft-arrow.png");
}

/* @group message */

.outgoing .message .time {
	color: #aed18d;
}
.outgoing .message .topleft {
	background: url("../../images/glass-lime/topleft.png");
}
.outgoing .message .top {
	background: url("../../images/glass-lime/top.png");
}
.outgoing .message .topright {
	background: url("../../images/glass-lime/topright.png");
}
.outgoing .message .left {
	background: url("../../images/glass-lime/left.png");
}
.outgoing .message .middle {
	background: url("../../images/glass-lime/middle.png");
}
.outgoing .message .right {
	background: url("../../images/glass-lime/right.png");
}
/*.outgoing .message .bottomleft {
	background: url("../../images/glass-lime/bottomleft.png");
}*/
.outgoing .message .bottom {
	background: url("../../images/glass-lime/bottom.png");
}
.outgoing .message .bottomright {
	background: url("../../images/glass-lime/bottomright.png");
}

/* @end */

/* @end */
