
/* @group outgoing */

/*.outgoing .history {
	color: #f26ac9;
}*/

.outgoing .compact .cnbody {
	border-top: 1px dotted #f26ac9;
}

.outgoing .message .bottomleft {
	background-image: url("../../images/glass-pink/bottomleft-arrow.png");
}

/* @group message */

.outgoing .message .time {
	color: #dcc3dc;
}
.outgoing .message .topleft {
	background: url("../../images/glass-pink/topleft.png");
}
.outgoing .message .top {
	background: url("../../images/glass-pink/top.png");
}
.outgoing .message .topright {
	background: url("../../images/glass-pink/topright.png");
}
.outgoing .message .left {
	background: url("../../images/glass-pink/left.png");
}
.outgoing .message .middle {
	background: url("../../images/glass-pink/middle.png");
}
.outgoing .message .right {
	background: url("../../images/glass-pink/right.png");
}
/*.outgoing .message .bottomleft {
	background: url("../../images/glass-pink/bottomleft.png");
}*/
.outgoing .message .bottom {
	background: url("../../images/glass-pink/bottom.png");
}
.outgoing .message .bottomright {
	background: url("../../images/glass-pink/bottomright.png");
}

/* @end */

/* @end */
