/* @group header */

#Chat {
/* height of visible part of #header */
	padding-top: 39px;
}

#header {
	font-family: helvetica, sans-serif;
	height: 49px;
	text-shadow: #1f4971 0px 1px 2px;
}

#header_bar {
	background: url("../../../images/_headers/tiger.png");
	height: 49px;
}

#header_bar .left {
	font-size: 21px;
	letter-spacing: 0px;
	top: 8px;
	left: 11px;
}

#header_bar .right {
	font-size: 16px;
	letter-spacing: 0px;
	top: 11px;
	right: 10px;
}

/* @end */

