
/* @group outgoing */

/*.outgoing .history {
	color: #5db158;
}*/
.outgoing .compact .cnbody {
	border-top: 1px dotted #68d84e;
}

.outgoing .message .bottomleft {
	background-image: url("../../images/glass-green/bottomleft-arrow.png");
}

/* @group message */

.outgoing .message .time {
	color: #89c582;
}
.outgoing .message .topleft {
	background: url("../../images/glass-green/topleft.png");
}
.outgoing .message .top {
	background: url("../../images/glass-green/top.png");
}
.outgoing .message .topright {
	background: url("../../images/glass-green/topright.png");
}
.outgoing .message .left {
	background: url("../../images/glass-green/left.png");
}
.outgoing .message .middle {
	background: url("../../images/glass-green/middle.png");
}
.outgoing .message .right {
	background: url("../../images/glass-green/right.png");
}
/*.outgoing .message .bottomleft {
	background: url("../../images/glass-green/bottomleft.png");
}*/
.outgoing .message .bottom {
	background: url("../../images/glass-green/bottom.png");
}
.outgoing .message .bottomright {
	background: url("../../images/glass-green/bottomright.png");
}

/* @end */

/* @end */
