
/* @group outgoing */

/*.outgoing .history {
	color: #f15a63;
}*/

.outgoing .compact .cnbody {
	border-top: 1px dotted #f15a63;
}

.outgoing .message .bottomleft {
	background-image: url("../../images/glass-red/bottomleft-arrow.png");
}

/* @group message */

.outgoing .message .time {
	color: #c5a3a4;
}
.outgoing .message .topleft {
	background: url("../../images/glass-red/topleft.png");
}
.outgoing .message .top {
	background: url("../../images/glass-red/top.png");
}
.outgoing .message .topright {
	background: url("../../images/glass-red/topright.png");
}
.outgoing .message .left {
	background: url("../../images/glass-red/left.png");
}
.outgoing .message .middle {
	background: url("../../images/glass-red/middle.png");
}
.outgoing .message .right {
	background: url("../../images/glass-red/right.png");
}
/*.outgoing .message .bottomleft {
	background: url("../../images/glass-red/bottomleft.png");
}*/
.outgoing .message .bottom {
	background: url("../../images/glass-red/bottom.png");
}
.outgoing .message .bottomright {
	background: url("../../images/glass-red/bottomright.png");
}

/* @end */

/* @end */
