<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<dict>
		<key>Creator</key>
		<string>Created by Nemed</string>
		<key>Title</key>
		<string>AdiumIcon</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>State</key>
	<dict>
		<key>Alert</key>
		<dict>
			<key>Animated</key>
			<true/>
			<key>Delay</key>
			<real>0.2</real>
			<key>Images</key>
			<array>
				<string>alert/a1.png</string>
				<string>alert/a2.png</string>
			</array>
			<key>Overlay</key>
			<true/>
		</dict>
		<key>Away</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Delay</key>
			<real>0.3</real>
			<key>Image</key>
			<string>away.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Base</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
				<string>asleep.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Connecting</key>
		<dict>
			<key>Animated</key>
			<true/>
			<key>Delay</key>
			<real>0.038</real>
			<key>Images</key>
			<array>
				<string>connect/1.png</string>
				<string>connect/11.png</string>
				<string>connect/12.png</string>
				<string>connect/2.png</string>
				<string>connect/21.png</string>
				<string>connect/22.png</string>
				<string>connect/3.png</string>
				<string>connect/31.png</string>
				<string>connect/32.png</string>
				<string>connect/4.png</string>
				<string>connect/41.png</string>
				<string>connect/42.png</string>
				<string>connect/5.png</string>
				<string>connect/51.png</string>
				<string>connect/52.png</string>
				<string>connect/6.png</string>
				<string>connect/61.png</string>
				<string>connect/62.png</string>
				<string>connect/7.png</string>
				<string>connect/71.png</string>
				<string>connect/72.png</string>
				<string>connect/8.png</string>
				<string>connect/81.png</string>
				<string>connect/82.png</string>
			</array>
			<key>Overlay</key>
			<true/>
		</dict>
		<key>Idle</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>idle.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Invisible</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>inv.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Online</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>online.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Preview</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>online.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
