
/* @group outgoing */

/*.outgoing .history {
	color: #c375ea;
}*/

.outgoing .compact .cnbody {
	border-top: 1px dotted #c375ea;
}

.outgoing .message .bottomright {
	background-image: url("../../images/glass-purple/bottomright-arrow.png");
}

/* @group message */

.outgoing .message .time {
	color: #c0a4c6;
}
.outgoing .message .topleft {
	background: url("../../images/glass-purple/topleft.png");
}
.outgoing .message .top {
	background: url("../../images/glass-purple/top.png");
}
.outgoing .message .topright {
	background: url("../../images/glass-purple/topright.png");
}
.outgoing .message .left {
	background: url("../../images/glass-purple/left.png");
}
.outgoing .message .middle {
	background: url("../../images/glass-purple/middle.png");
}
.outgoing .message .right {
	background: url("../../images/glass-purple/right.png");
}
.outgoing .message .bottomleft {
	background: url("../../images/glass-purple/bottomleft.png");
}
.outgoing .message .bottom {
	background: url("../../images/glass-purple/bottom.png");
}
/*.outgoing .message .bottomright {
	background: url("../../images/glass-purple/bottomright.png");
}*/

/* @end */

/* @end */
