
/* @group outgoing */

/*.outgoing .history {
	color: #42abed;
}*/

.outgoing .compact .cnbody {
	border-top: 1px dotted #42abed;
}

.outgoing .message .bottomright {
	background-image: url("../../images/glass-aqua/bottomright-arrow.png");
}

/* @group message */

.outgoing .message .time {
	color: #9ca0c0;
}
.outgoing .message .topleft {
	background: url("../../images/glass-aqua/topleft.png");
}
.outgoing .message .top {
	background: url("../../images/glass-aqua/top.png");
}
.outgoing .message .topright {
	background: url("../../images/glass-aqua/topright.png");
}
.outgoing .message .left {
	background: url("../../images/glass-aqua/left.png");
}
.outgoing .message .middle {
	background: url("../../images/glass-aqua/middle.png");
}
.outgoing .message .right {
	background: url("../../images/glass-aqua/right.png");
}
.outgoing .message .bottomleft {
	background: url("../../images/glass-aqua/bottomleft.png");
}
.outgoing .message .bottom {
	background: url("../../images/glass-aqua/bottom.png");
}
/*.outgoing .message .bottomright {
	background: url("../../images/glass-aqua/bottomright.png");
}*/

/* @end */

/* @end */
