
/* @group outgoing */

/*.outgoing .history {
	color: #e2dc49;
}*/

.outgoing .compact .cnbody {
	border-top: 1px dotted #e2dc49;
}

.outgoing .message .bottomright {
	background-image: url("../../images/glass-yellow/bottomright-arrow.png");
}

/* @group message */

.outgoing .message .time {
	color: #c6af7f;
}
.outgoing .message .topleft {
	background: url("../../images/glass-yellow/topleft.png");
}
.outgoing .message .top {
	background: url("../../images/glass-yellow/top.png");
}
.outgoing .message .topright {
	background: url("../../images/glass-yellow/topright.png");
}
.outgoing .message .left {
	background: url("../../images/glass-yellow/left.png");
}
.outgoing .message .middle {
	background: url("../../images/glass-yellow/middle.png");
}
.outgoing .message .right {
	background: url("../../images/glass-yellow/right.png");
}
.outgoing .message .bottomleft {
	background: url("../../images/glass-yellow/bottomleft.png");
}
.outgoing .message .bottom {
	background: url("../../images/glass-yellow/bottom.png");
}
/*.outgoing .message .bottomright {
	background: url("../../images/glass-yellow/bottomright.png");
}*/

/* @end */

/* @end */
