/* import header for the white variants */
@import url("../_headers/white.css");

/* include the global header override style sheet */
@import url("../_headers/_global_override.css");


.message .topleft {
	background: url("../../images/white/topleft.png");
}
.message .top {
	background: url("../../images/white/top.png");
}
.message .topright {
	background: url("../../images/white/topright.png");
}
.message .left {
	background: url("../../images/white/left.png");
}
.message .middle {
	background: url("../../images/white/middle.png");
}
.message .right {
	background: url("../../images/white/right.png");
}
.message .bottomleft {
	background: url("../../images/white/bottomleft.png");
}
.message .bottom {
	background: url("../../images/white/bottom.png");
}
.message .bottomright {
	background: url("../../images/white/bottomright.png");
}

.message .compact .cnbody {
	border-top: 1px dotted #e5e5e5;
}


.incoming .message .bottomleft {
	background-image: url("../../images/white/bottomleft-arrow.png");
}

.outgoing .message .bottomright {
	background-image: url("../../images/white/bottomright-arrow.png");
}



