
/* @group outgoing */

/*.outgoing .history {
	color: #e5b238;
}*/

.outgoing .compact .cnbody {
	border-top: 1px dotted #e5b238;
}

.outgoing .message .bottomright {
	background-image: url("../../images/glass-orange/bottomright-arrow.png");
}

/* @group message */

.outgoing .message .time {
	color: #c6af7f;
}
.outgoing .message .topleft {
	background: url("../../images/glass-orange/topleft.png");
}
.outgoing .message .top {
	background: url("../../images/glass-orange/top.png");
}
.outgoing .message .topright {
	background: url("../../images/glass-orange/topright.png");
}
.outgoing .message .left {
	background: url("../../images/glass-orange/left.png");
}
.outgoing .message .middle {
	background: url("../../images/glass-orange/middle.png");
}
.outgoing .message .right {
	background: url("../../images/glass-orange/right.png");
}
.outgoing .message .bottomleft {
	background: url("../../images/glass-orange/bottomleft.png");
}
.outgoing .message .bottom {
	background: url("../../images/glass-orange/bottom.png");
}
/*.outgoing .message .bottomright {
	background: url("../../images/glass-orange/bottomright.png");
}*/

/* @end */

/* @end */
