
/* @group incoming */

/*.incoming .history {
	color: #e5b238;
}*/

.incoming .compact .cnbody {
	border-top: 1px dotted #e5b238;
}

.incoming .message .bottomleft {
	background-image: url("../../images/glass-orange/bottomleft-arrow.png");
}

/* @group message */

.incoming .message .time {
	color: #c6af7f;
}
.incoming .message .topleft {
	background: url("../../images/glass-orange/topleft.png");
}
.incoming .message .top {
	background: url("../../images/glass-orange/top.png");
}
.incoming .message .topright {
	background: url("../../images/glass-orange/topright.png");
}
.incoming .message .left {
	background: url("../../images/glass-orange/left.png");
}
.incoming .message .middle {
	background: url("../../images/glass-orange/middle.png");
}
.incoming .message .right {
	background: url("../../images/glass-orange/right.png");
}
/*.incoming .message .bottomleft {
	background: url("../../images/glass-orange/bottomleft.png");
}*/
.incoming .message .bottom {
	background: url("../../images/glass-orange/bottom.png");
}
.incoming .message .bottomright {
	background: url("../../images/glass-orange/bottomright.png");
}

/* @end */

/* @end */
