
/*
   
   Modern Bubbling v1.0.3
   an Adium Message Style
   
   Created by Jim Myhrberg (contact@jimeh.me).
   http://jimeh.me/

   Available for download and/or updates at:
   http://www.adiumxtras.com/index.php?a=xtras&xtra_id=3629

*/


/* import default header styling */
@import url("styles/_headers/_default.css");

/* import message bubble styling */
@import url("styles/_bubbles/message-bubble.css");

/* uncomment line bellow to disable all bubble reflections */
/*@import url("styles/_bubbles/disable-reflection.css");*/


body {
/* font property used for development only */
/*	font: 11px helvetica;*/
	background: #fff url("images/bg.jpg") repeat-x left bottom;
	color: #303030;
	margin: 0;
}

#Chat {
	padding: 5px 10px 12px 10px;
	overflow: hidden;
}

.emoticon {
	border-style: none;
	position: relative;
	margin: -3px 0px -5px 0px;
}


.history {
	opacity: 0.4;
	-webkit-transition: opacity 0.5s linear;
}

.history:hover {
	opacity: 1;
}

.status {
	color: #c7c7c7;
	font-family: helvetica, sans-serif;
	font-size: 10px;
	margin: 4px 0px 0px 0px;
	text-align: center;
	cursor: default;
}
.status .stime {
	font-size: 9px;
	/*visibility: hidden;*/
}
/*
.status:hover .stime {
	visibility: visible;
}
*/



/*
   show info on mouse hover behavior
    - shows name, service and timestamp when any
      part of the message is hovered.
*/

.outgoing:hover .sender .name,
.outgoing:hover .sender .service,
.outgoing:hover .message .time,
.outgoing:hover .message .compact .cbody .ctime,
.outgoing:hover .message .compact .cnbody .ctime,
.incoming:hover .sender .name,
.incoming:hover .sender .service,
.incoming:hover .message .time,
.incoming:hover .message .compact .cbody .ctime,
.incoming:hover .message .compact .cnbody .ctime {
	visibility: visible;
}



/*
   pre-1.0 show info on mouse hover behavior
    - shows name and service when user icon is
      hovered, and timestamp when message bubble
      is hovered.
*/

/*
.outgoing .sender:hover .name {
	visibility: visible;
}
.incoming .sender:hover .name {
	visibility: visible;
}
*/



