<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fi.matiaskorhonen.cleardns</string>
	<key>connections</key>
	<dict>
		<key>4F170F5A-7545-4D9B-8EEB-EAE16ABFB68E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63740BD1-A6D8-4BBE-ACEB-7FFF4B89AD1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>56291BDB-AB43-4606-BAC0-DAEA042129BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F170F5A-7545-4D9B-8EEB-EAE16ABFB68E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>60AF725D-BA76-4484-9672-87ADD9AE0AE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F170F5A-7545-4D9B-8EEB-EAE16ABFB68E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matias Korhonen</string>
	<key>description</key>
	<string>Clear the OS X DNS cache</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clear DNS cache</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cleardns</string>
				<key>subtext</key>
				<string>Clears the OS X DNS cache</string>
				<key>text</key>
				<string>Clear the DNS cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60AF725D-BA76-4484-9672-87ADD9AE0AE0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  set os_version to do shell script "sw_vers -productVersion"
  if os_version &lt; "10.6" then
     display dialog "This version of OS X is not supported"
  else if os_version &lt; "10.7" then
    do shell script "dscacheutil -flushcache" with administrator privileges
  else
    do shell script "killall -HUP mDNSResponder" with administrator privileges
  end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4F170F5A-7545-4D9B-8EEB-EAE16ABFB68E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Finished clearing the DNS cache</string>
				<key>title</key>
				<string>Clear DNS cache</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>63740BD1-A6D8-4BBE-ACEB-7FFF4B89AD1A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>flushdns</string>
				<key>subtext</key>
				<string>Clears the OS X DNS cache</string>
				<key>text</key>
				<string>Clear the DNS cache</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>56291BDB-AB43-4606-BAC0-DAEA042129BD</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4F170F5A-7545-4D9B-8EEB-EAE16ABFB68E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>56291BDB-AB43-4606-BAC0-DAEA042129BD</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>60AF725D-BA76-4484-9672-87ADD9AE0AE0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>63740BD1-A6D8-4BBE-ACEB-7FFF4B89AD1A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://matiaskorhonen.fi</string>
</dict>
</plist>
