<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Info</key>
	<string>visions i</string>
	<key>Sounds</key>
	<dict>
		<key>Contact Signed Off</key>
		<string>Off.aif</string>
		<key>Contact Signed On</key>
		<string>On.aif</string>
		<key>Error</key>
		<string>Error.aif</string>
		<key>Message Received</key>
		<string>CRcv.aif</string>
		<key>Message Received (New)</key>
		<string>New.aif</string>
		<key>Message Received (Stranger)</key>
		<string>New.aif</string>
		<key>Message Sent</key>
		<string>CSnd.aif</string>
	</dict>
</dict>
</plist>
